.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
    margin-top: 15px;
    background-color: #f5f5f5;
    border: 1px solid #c7cdd1;
    color: #2D3B45;
}

.wd-modules > li > div {
  padding: 6px;
  background-color: #f5f5f5;
  padding-bottom: 20px;

}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.fa-circle-check {
    color:green;
}




.navigation-buttons {
    margin-top: 20px;
}
